# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Vercel build output
.vercel/

# OS-specific files
.DS_Store
Thumbs.db
